<h1>Editing Milestone</h1>

<%= render 'form' %>

<%= link_to 'Show', project_milestone_path(@project, @milestone), class: "btn btn-primary btn-sm" %>
<%= link_to 'Back', project_milestones_path, class: "btn btn-primary btn-sm" %>
