<h1> Number of collaborators on each project </h1>

<svg id="graph1"></svg>

<script>
  $.ajax({
    url: '/analytics/1',
    dataType: 'json'
  }).success(function(data){
    draw(data)
  })
</script>
