<h1>Edit An Issue</h1>

<%= render 'form' %>

<%= link_to 'Show', project_issue_path(@project, @issue), class: "btn btn-primary btn-sm" %>
<%= link_to 'Back', project_issues_path, class: "btn btn-primary btn-sm" %>
