<h1>Edit This Project</h1>

<% if current_user.admin == @project.admin %>

	<%= render 'form' %>

	<%= link_to 'Show', @project %> |
	<%= link_to 'Back', projects_path %>

<% else %>

	You must be this project's administrator in order to edit this project.

<% end %>