<p id="notice"><%= notice %></p>

<h1>All Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Admin</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.admin.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
