// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-header {
  text-align: center;
  position: relative;
  margin: 40px;
}

.pic-userpage img {
	width: 150px;
}