<script id="entry-template" type="text/x-handlebars-template" src="javascripts/dashboard/dashboard.js">
	<div class="panel panel-success">
	  <div class="panel-heading">
	    <h3 class="panel-title">Active Projects</h3>
	  </div>
		<ul class="list-group">
		{{#each projects as |project|}}
			<li class="project-li list-group-item" data-project-id="{{project.id}}">
				<%= button_tag "x", {class: "btn btn-danger mark-inactive"}%>
			 <a href="#">{{ project.name }}</a>
			</li>
		{{/each}}
		</ul>
	</div>

</script>
<script id= "project-details-template" type="text/x-handlebars-template">
  <p>
  {{project.name}}
  </p>
   <p>
  {{project.url}}
  </p>
   <p>
  {{project.admin.user.name}}
  </p>
   <p>
    {{#each project.collaborators as |collaborator|}}
      {{collaborator.user.name}}
    {{/each}}
  </p>
   <p>
    {{#each project.milestones as |milestone|}}
      {{milestone.title}}
    {{/each}}
  </p>

</script>

<!-- Send request to analytics controller -->
<script>

</script>

<% if logged_in? %>

<div class="container">
	<div class="row dashboard-row">
		<div class="col-xs-4">
			<div id="projects-board"></div>
		</div>
		<div class= "col-xs-8">

			<div id="new-issues"</div>
				<div class="list-group">
				  <p class="list-group-item active">
				    Issues since last logout
				  </p>
					<% issues = User.issues_since_logout(current_user)%>
						<% issues.each do |issue| %>
							<p class="list-group-item">
								<% date = issue.updated_at.to_s %>
								<strong><%= issue.title %></strong> created @ <%= DateTime.parse(date).httpdate %>
							</p>
					<% end %>
				</div>
			</div>

			<div id="dashboard-analytics">
				<h3> Analytics </h3>
				<h4> Number of commits you've made on your active projects </h4>
				<svg id="graph1"></svg>
			</div>
      <div id="project-details"></div>
		</div>
	</div>
</div>
<% else %>

	<div id="front-page">
		<%= image_tag "github_workspace.jpg" %>

		<div class="jumbotron" id="greeting">
			<h1>Welcome to Gitr!</h1>
		  <p>A web application to manage all your GitHub projects!</p>
		</div>

<% end %>
