<script id="entry-template" type="text/x-handlebars-template" src="javascripts/dashboard/dashboard.js">
	<div class="panel panel-success">
	  <div class="panel-heading">
	    <h3 class="panel-title">Active Projects</h3>
	  </div>
		<ul class="list-group">
		{{#each projects as |project|}}
			<li class="project-li list-group-item" data-project-id="{{project.id}}">
			 <%= button_tag "x", {class: "btn-sm mark-inactive"}%>
			 <a href="#">{{ project.name }}</a>
			</li>
		{{/each}}
		</ul>
</div>

</script>
<script id= "project-details-template" type="text/x-handlebars-template">
  <p>
  {{project.name}}
  </p>
   <p>
  {{project.url}}
  </p>
   <p>
  {{project.admin.user.name}}
  </p>
   <p>
    {{#each project.collaborators as |collaborator|}}
      {{collaborator.user.name}}
    {{/each}}
  </p>
   <p>
    {{#each project.milestones as |milestone|}}
      {{milestone.title}}
    {{/each}}
  </p>

</script>

<!-- Send request to analytics controller -->
<script>
  $.ajax({
    url: '/analytics/1',
    dataType: 'json'
  }).success(function(data){
    draw(data)
  })
</script>

<% if logged_in? %>

<div class="container">
	<ul>
	<div class="row">
		<div class="col-xs-3">
			<div id="projects-board"></div>
		</div>
		<div class= "col-xs-9">
      <div id="project-details"></div>

			<ul>
				<strong><h2>Issues since last logout</h2></strong>
				<% issues = User.issues_since_logout(current_user)%>
					<% issues.each do |issue| %>
					<% date = issue.updated_at.to_s %>
					<li><strong><%= issue.title %></strong> created @ <%= DateTime.parse(date).httpdate %></li>
					<% end %>
			</ul>

			<div class="dashboard-analytics">
				<h3> Analytics </h3>
				<h4> Number of collaborators on each project </h4>
				<svg id="graph1"></svg>
			</div>
		</div>
	</div>
</div>

<% else %>

	<div id="front-page">
		<%= image_tag "github_workspace.jpg" %>

		<div class="jumbotron" id="greeting">
			<h1>Welcome to Gitr!</h1>
		  <p>A web application to manage all your GitHub projects!</p>
		</div>

	</div>

<% end %>
