<script id="entry-template" type="text/x-handlebars-template" >
	<div class="panel panel-success">
	  <div class="panel-heading">
	    <h3 class="panel-title">Active Projects</h3>
	  </div>
		<ul class="list-group">
		{{#each projects as |project|}}
			<li class="project-li list-group-item" data-project-id="{{project.id}}">
				<%= button_tag "x", {class: "btn btn-danger mark-inactive"}%>
			 <a href="#">{{ project.name }}</a>
			</li>
		{{/each}}
		</ul>
	</div>
</script>

<script>
setInterval(function(){
  $.ajax({
    url: '/notifications',
    dataType: 'json'
  }).success(function(data){
  	if (data.data.length>1) {
			alert(data.data);
  	}
  });
}, 1000);
</script>

<% if logged_in? %>
 <% if @show_loading_bar %>
	 <div class="progress progress-striped active">
	  <div class="progress-bar" style="width: 45%"></div>
	</div>
	<% binding.pry %>
 <% end %>
<div class="container">

	<div class="row dashboard-row">
		<div class="col-xs-4">
			<div id="projects-board"></div>
		</div>

		<div class= "col-xs-8">
			<div id="new-issues"</div>
				<div class="list-group">
				  <p class="list-group-item active">
				    Issues since last logout
				  </p>
					<% issues = User.issues_since_logout(current_user)%>
						<% issues.each do |issue| %>
							<p class="list-group-item">
								<% date = issue.updated_at.to_s %>
								<strong><%= issue.title %></strong> created @ <%= DateTime.parse(date).httpdate %>
							</p>
					<% end %>
				</div>
			</div>

			<div id="dashboard-analytics">
				<div class="list-group">
				  <p class="list-group-item active">
				    Analytics
				  </p>
					<p class="list-group-item">
						<strong>Number of commits you've made on your active projects</strong>
						<svg id="graph1"></svg>
					</p>
				</div>
			</div>
      <div id="project-details"></div>
		</div>
	</div>
</div>
<% else %>
	<div id="front-page">
		<%= image_tag "github_workspace.jpg" %>

		<div class="jumbotron" id="greeting">
			<h1>Welcome to Gitr!</h1>
		  <h3>Gitr is a web application to manage all your GitHub projects!</p>
			<p>It works by retrieving data about your repositories and populates a dashboard view
				of all your projects.
			</p>
			<p>If this is your first time logging into the site, it may take some time
				for your dashboard to load while we retrieve your GitHub data.
			</p>
		</div>
<% end %>
