<% if logged_in? %>

  <p><%= link_to "Logged in as #{current_user.name}", user_path(current_user) %> | <%= link_to "Create a project", new_project_path %> | <%= link_to 'Log out', logout_path %></p>

<% else %>
  <%= link_to 'Log in with Github', login_path %>
<% end %>